<h1>Fixed Asset</h1>
<hr>

<ul class="nav nav-tabs" ng-init="page = 'LIFETIME'">
  <li role="presentation" ng-class="{active:page == 'LIFETIME'}"><a href ng-click="page = 'LIFETIME'">Lifetime</a></li>
  <li role="presentation" ng-class="{active:page == 'PERIODS'}"><a href ng-click="page = 'PERIODS'">Periods</a></li>
  <li role="presentation" ng-class="{active:page == 'PURCHASES'}"><a href ng-click="page = 'PURCHASES'">Purchases</a></li>
  <li role="presentation" ng-class="{active:page == 'DEPRECIATIONS'}"><a href ng-click="page = 'DEPRECIATIONS'">Depreciations</a></li>
</ul>

<hr>

<div ng-show="page == 'PERIODS'">
<form class="form-horizontal" ng-submit="addPeriod()">
<div class="form-group">
    <label for="inputPeriodYear" class="col-sm-3 control-label">Period Year</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="inputPeriodYear" placeholder="Period Year" ng-model="periodYear">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPeriodNumber" class="col-sm-3 control-label">Period Number</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="inputPeriodNumber" placeholder="Period Number" ng-model="periodNumber">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">Add Period</button>
    </div>
  </div>
</form>
<hr>
<div class="list-group">
	<table class="table">
		<thead>
			<th>#</th>
			<th>Year</th>
			<th>Number</th>
			<th></th>
		</thead>
		<tbody>
			<tr ng-repeat="period in systemPeriods">
				<td>{{period.index + 1}}</td>
				<td>{{period.year}}</td>
				<td>{{period.number}}</td>
				<td><i class="glyphicon glyphicon-remove pull-right"
	    			ng-click="removePeriod(period)"></i></td>
			</tr>
		</tbody>
	</table>
</div>
</div>

<div ng-show="page == 'LIFETIME'">
<form class="form-horizontal" ng-submit="addLifetime()">
<div class="form-group">
    <label for="inputLifetimePeriodYear" class="col-sm-3 control-label">Lifetime Period Year</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="inputLifetimePeriodYear" placeholder="Lifetime Period Year" ng-model="lifetimePeriodYear">
    </div>
  </div>
  <div class="form-group">
    <label for="inputLifetimePeriodNumber" class="col-sm-3 control-label">Lifetime Period Number</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="inputLifetimePeriodNumber" placeholder="Lifetime Period Number" ng-model="lifetimePeriodNumber">
    </div>
  </div>
	<div class="form-group">
		<label for="inputLifetime" class="col-sm-3 control-label">Lifetime %</label>
		<div class="col-sm-9">
			<input type="number" class="form-control" id="inputLifetime" placeholder="Lifetime" ng-model="assetLifetime">
		</div>
	</div>
	<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">Add Lifetime</button>
    </div>
  </div>
</form>
<hr>
<table class="table">
	<thead>
		<th>#</th>
		<th>Start Period</th>
		<th>Lifetime</th>
		<th></th>
	</thead>
	<tbody>
		<tr ng-repeat="regime in lifetimeRegimes">
			<td>{{regime.index + 1}}</td>
			<td>{{regime.period.year + '/' + regime.period.number}}</td>
			<td>{{regime.lifetime}}</td>
			<td><i class="glyphicon glyphicon-remove pull-right"
	    		ng-click="removeRegime(regime)"></td>
		</tr>
	</tbody>
</table>
</div>

<div ng-show="page == 'PURCHASES'">
<form class="form-horizontal" ng-submit="addPurchase()">
  <div class="form-group">
    <label for="inputPurchasePrice" class="col-sm-3 control-label">Purchase Price</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="inputPurchasePrice" placeholder="Purchase Price" ng-model="purchasePrice">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPurchasePeriodYear" class="col-sm-3 control-label">Purchase Period Year</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="inputPurchasePeriodYear" placeholder="Purchase Period Year" ng-model="purchasePeriodYear">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPurchasePeriodNumber" class="col-sm-3 control-label">Purchase Period Number</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="inputPurchasePeriodNumber" placeholder="Purchase Period Number" ng-model="purchasePeriodNumber">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">Add Purchase</button>
    </div>
  </div>
</form>
<hr>
<div class="list-group">
	<table class="table">
		<thead>
			<th>#</th>
			<th>Price</th>
			<th>Periods</th>
			<th></th>
		</thead>
		<tbody>
			<tr ng-repeat="purchase in purchases">
				<td>{{purchase.index + 1}}</td>
				<td>{{purchase.price}}</td>
				<td>{{purchase.period.year + '/' + purchase.period.number}}</td>
				<td><i class="glyphicon glyphicon-remove pull-right"
	    			ng-click="removePurchase(purchase)"></i></td>
			</tr>
		</tbody>
	</table>

</div>
</div>

<div ng-show="page == 'DEPRECIATIONS'" class="list-group">
	<table class="table">
		<thead>
			<th>Iteration Index</th>
			<th>Iteration Period</th>
			<th>Passed Periods</th>
			<th>Periods To Go</th>
			<th>Nett Book Value</th>
			<th>Write Off Amount</th>
		</thead>
		<tbody>
			<tr ng-repeat="period in periods">
				<td>{{period.periodIndex + 1}}</td>
				<td>{{period.currentPeriod.year + '/' + period.currentPeriod.number}}</td>
				<td>{{period.passedPeriods}}</td>
				<td>{{period.periodsToGo}}</td>
				<td>{{period.nettBookValue}}</td>
				<td>{{period.amount}}</td>
			</tr>
		</tbody>
	</table>
</div>